


body {
 margin: 0;
 /*font-family: 'Bevan', cursive;*/
 font-family: 'Poppins', sans-serif;
}


.container__login {
	height: 100vh;
	background:#273b47;
	overflow: hidden;
	position: relative;
}

.form__login{
	text-align: center;
	max-width: 500px;
	display: flex;
	justify-content: center;
	color: white;
	z-index: 50;
	position: relative;
}


.btn {
	padding: .6em .8em .8em;
	border:none;
	color: white;
	margin:5px;
	border-radius: 5px;
	cursor:pointer;
	box-shadow: inset 0 -.2em rgba(0,0,0,.2);
	transition: .2s;
	will-change:transform;
	text-transform: uppercase;
	font-weight:700;
	background-color: #6C7880;
}

.btn:active {
	transform: scale(.9);
}


.form-usuario label {
	display: block;
	padding: .5em;
}


.waves{
	position: absolute;
	bottom: -135px;
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

.wave{

	position: absolute;
	left: -180px;
	bottom: 0;
	width: 2402px;
	height:427px;
	background:url(../images/waves.png) center bottom no-repeat;
	animation: 5s wave ease-in-out infinite alternate;
}

.wave.a{
	background-position: 0 -854px;
}
.wave.b{
	background-position: 0 -427px;
	animation-delay: .6s;
}

.wave.c{
	background-position: 0 0;
	animation-delay: 1.2s;
}

@keyframes wave{
	0%{
		transform: translate(0, 0);
	}
	50%{
		transform: translate(-80px 30px);
	}
	100%{
		transform: translate(160px, -60px);
	}
}

