/*Iconos*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?f6eg17');
  src:  url('../fonts/icomoon.eot?f6eg17#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?f6eg17') format('truetype'),
    url('../fonts/icomoon.woff?f6eg17') format('woff'),
    url('../fonts/icomoon.svg?f6eg17#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e942";
}
.icon-stopwatch:before {
  content: "\e952";
}
.icon-user:before {
  content: "\e971";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-user-minus:before {
  content: "\e974";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-spinner10:before {
  content: "\e983";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-truck:before {
  content: "\e9b0";
}
.icon-road:before {
  content: "\e9b1";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-whatsapp:before {
  content: "\ea93";
}



/*Iconos*/



body{
  font-family: 'Poppins', system-ui;
/*	font-family: 'Source Sans Pro', sans-serif;*/
	margin:0;
}

h1
,h2
,h3
,h4
,h5
,h6{
 font-weight: normal;
	font-family: 'Source Sans Pro', system-ui;
	margin:0;
}

ol
,ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

table,td,th{
  border:1px solid #273b47;
  border-collapse: collapse; /*quitar la doble linea*/
  text-align: center;
}
table{
  max-width: 100%;
}

th{
  /*background:#273b47;*/
  color:black;
  padding: 0 20px;
  text-align: center;
  width: 8em;
}


td{
  width: 7.3em;
  padding: .1em;
}


/*login*/
.container__login {
	height: 100vh;
	background:#273b47;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

}

.form__login{
	text-align: center;
	max-width: 500px;
	display: flex;
	justify-content: center;
	color: white;
	z-index: 50;
	position: relative;
}



.form-usuario label {
	display: block;
	padding: .5em;
}

.form__title{
	display: flex;
	align-items: center;
}

.btn__login{
		background-color: #6C7880;
}

.waves{
	position: absolute;
	bottom: -135px;
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

.wave{

	position: absolute;
	left: -180px;
	bottom: 0;
	width: 2402px;
	height:427px;
	background:url(../images/waves.png) center bottom no-repeat;
	animation: 5s wave ease-in-out infinite alternate;
}

.wave.a{
	background-position: 0 -854px;
}
.wave.b{
	background-position: 0 -427px;
	animation-delay: .6s;
}

.wave.c{
	background-position: 0 0;
	animation-delay: 1.2s;
}

@keyframes wave{
	0%{
		transform: translate(0, 0);
	}
	50%{
		transform: translate(-80px 30px);
	}
	100%{
		transform: translate(160px, -60px);
	}
}


/*login*/





.container {
	display: grid;
	grid-template: 100px 1fr / auto 1fr;
	grid-template-areas: "header info"
									 		 "header marked";

}

.header{
	grid-area: header;
	background-color: #23475B;
	color:white;
	height:  100vh;
	/*overflow: auto;*/

}

.header__logo {
	display: block;
	text-align: center;
	}

.header__logo a {
 font-family: 'Poppins', sans-serif;
	font-size: 3em;
	text-decoration: none;
	color:white;
	text-transform: uppercase;


}
.header__nav{
	text-align: center;
	padding: 15px 0;
	position: relative;
	top: 2em;

}

.header__nav a {
	color:white;
	text-decoration: none;
}

.nav_link {
	padding: 15px 0;
	border-bottom: 1px solid #C2C2C2;
	cursor:pointer;
}

.nav__icon {
	padding: .2em;
}

.info{
	grid-area: info;
	text-align: center;
}

.departure {
	display: flex;
	justify-content: space-evenly;
	padding: 20px;
}
.marked {
	grid-area: marked;
	padding: .5em;
	overflow: auto;
}

 .active
 ,.nav_link:hover {
	background-color: #57717F;
}

.sub__menu {
	overflow: hidden;
	background-color: #273b47;
	max-height: 0;
	transition: .3s cubic-bezier(.17,.67,.83,.67);
 }

 .sub__menu li {
 	padding:1em 0;
 	border-bottom: 1px solid #C2C2C2;
 }

 .sub__menu li:hover{
  	background-color: #57717F;
  }


.action_modal {
	display: grid;
	grid-template-areas: "title__form title__form"
						 "side__left side__right"
						 "btn_form btn_form";
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 3em 1fr 4em;
	grid-gap:20px;
	padding: 16px;
	background-color:white;
	border:1px solid #273b47;
	border-radius: .8em;
	width: 520px;
	height: 430px;
	text-align: center;
	/*animation: animationIn .8s forwards;*/
}

.title__form {
	grid-area: title__form;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-weight: 800;
	color: inherit;
	padding: 0 10px;
}

.side__left{
	grid-area: side__left;
}
.side__right {
	grid-area: side__right;
}

.remove__vehicle{
	background-color: white;
	border:1px solid #273b47;
	border-radius: .8em;
	width: 400px;
	height: 8em;
	text-align: center;

}


.form_modalEdit,
.moda__vehicle-remove,
.form_modal {
	background-color: rgba(0,0,0,0.8);
	color:#273b47 ;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top:0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 1s ease-out;
}

.form_modalEdit.active,
.moda__vehicle-remove.active,
.form_modal.active {
	opacity: 1;
	visibility: visible;
}


.btn_form {
	grid-area:btn_form;
	text-align: center;
}


.action_modal input{
	display: block;
	width: 	10.8em;
	text-align: center;
	border:1px solid #B9B9B9;
	border-radius: 6px;
	padding:3px 17px;
	margin: 5px auto;
}

.action_modal input:focus{
	background-color: #B9B9B9;
}

.action_modal select {
	display: block;
	margin: 5px auto;
}


.btn {
	padding: .6em .8em .8em;
	border:none;
	color: white;
	margin:5px;
	border-radius: 5px;
	cursor:pointer;
	box-shadow: inset 0 -.2em rgba(0,0,0,.2);
	transition: .2s;
	will-change:transform;
	text-transform: uppercase;
	font-weight:700;
}

.btn:active {
	transform: scale(.9);
}



.btn__add, .btn__close  {
		background-color: #273b47;
}


.burger-button {
	width: 40px;
	height: 40px;
	display: none;
	line-height: 40px;
	text-align: center;
	position: absolute;;
	z-index: 4;
	right: 5px;
	color: white;
	cursor: pointer;
}

.acciones_icon i{
	padding: 5px;
	cursor:pointer;
}

.acciones_icon i:hover{
	color: #C8C8C8;
}

.icon-bin{
	margin-left: 5px;
}

/*SWITH*/
.onoffswitch__form{
	display: flex;
	justify-content: center;
}

.onoffswitch {
position: relative;
width:50px;
}

.onoffswitch-checkbox{
	display: none;
}
.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border:1px solid white  ;
	border-radius: 20px;
}

.onoffswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin .3s ease-out;
}


.onoffswitch-inner:before{
	content: "On";
	padding-left: 5px;
	background-color: #2E654A;
	color:white ;
}

.onoffswitch-inner:after{
	content: "Off";
	padding-right: 5px;
	background-color: white;
	color:#9C9C9C;
}


.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block;
	float:left;
	width: 50%;
	height: 20px;
	padding: 0;
	line-height: 20px;
	font-size: 14px;

	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}


.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
  background-color: red
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0;
  background-color: red
}




/*SWITH*/


/*RESPONSIVE DESING*/

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px)  {

	.info {
		display: initial;
	}


	.action_modal{
		max-width: 400px;
	}

	.header{
		overflow: auto;
	}

	.header__nav{
		position: static;
		top: 0;
	}

	.nav_link{
		padding: .4em 0;
		margin: 1.2px 0;
	}
	.action_modal input{
		width:auto;
	}

}

@media screen and (max-width: 480px) {
	.container{
		display: initial;
	}
	.burger-button{
		display: block
	}
	.departure {
		display: flex;
		justify-content: space-evenly;
		font-size: .8em;
		padding: 15px 0;
	}
	.header {
		display: block;
		height: auto;
	}

	.form__login{
		display: block;
	}

	.header__logo{
		text-align: initial;
		margin-left: 15px;
	}

	.header__logo a{
		font-size: 1.5em;
	}

	.header__nav{
		padding: 0;
		position: static;
	}

	.marked {
		height: 90%;
	}

	.header__nav-ul {
		position:static;
		display: none;
	}

	.remove__vehicle{
		max-width: 350px;
	}

	.header__nav-ul.is-active{
		display: block;
	}


	.action_modal {
		width: auto;
		display: block;
		overflow: auto;
	}
}




/*ANIMACIONES*/
@keyframes animationIn{
  0% {
    transform: translateY(-3000px);
  }
  60% {
    transform: translateY(25px);
  }
  75% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

		@keyframes animationOut{
  0% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(-3000px);
  }
}

/*ANIMACIONES*/